html{
height:100%;
width:100%;
font-size:5em;
font-family: 'Roboto', sans-serif;

}
html body {
height:100%;
width:100%;
margin:0;

}
.listings{

width:60%;
position:absolute;
right:2%;
top:35%;

float:left;
padding-right:1.5%;
padding-left:1.5%;
}

.vehicle{


position:relative;
background-color:rgba(237, 237, 237, .2);
border-style:solid;
border-color: rgb(204, 204, 204);
margin-bottom:5%;
margin-top:5%;
padding-bottom:75%;

}
.vehicle img{
height: 40%;
width: 70%;
position:absolute;
left: 15%;
top:15%;
border-style:solid;
border-color: #c9ccd3;
border-width:1%;
}
.price{
	
height: 15%;
width: 50%;
position:absolute;
left: 25%;
bottom:5%;
color:red;

}
.price p{
position:absolute;
top:50%;
left:0%;
transform:translateY(-50%);
font-size: .8em;
margin:0;



}

.vhtable{

height:80;
position:absolute;
top: 60%;
left: 5%;
margin-top: 5%;
padding:0;
font-size:25%;
list-style:none;
}
#stock{
position:absolute;
left: 28%;
	
	
}
#info{
	color: rgba(0, 0, 0, .7);
	
	
}

.vehicle h2{
color:#2656a5;
font-size: 50%;
width: 60%;
position:absolute;
left: 30%;
top:2.5%;
height:5%;
margin:0;

}
.page
{
	width: 100%;
	height: 100%;
}
.search{
height: 50%;
width:30%;
position:absolute;
left:5%; /*center is 10% */
top:33%;
background-color:#e6e8ed;
float:left;

}
.searchbar input{
width:90%;
position:absolute;
margin-left: 5%;
margin-right:5%;
top: 5%;

}
.menubar{
background-color:blue;
width:100%;
height:30%;
float:left;
}
.NextButton{
user-select:none;


}
.BackButton{
user-select:none;

}
.Carsmini{
	background-color:black;
	
	
	
}
#nextpage{
	float:left;
	font-size: .3em;
	text-decoration:underline;
	position:absolute;
	right: 2%;
	top:35%;
	width: 60%;
	cursor: pointer;
	user-select:none;
	padding-left: 1.5%;
	padding-right: 1.5%;
}
