html body{
margin:0;
height:100%;
width:100%;



background-color: white;
}

html{
font-family: Arial,Roboto;
height:100%;
width:100%;
font-size:4em;
}
.banner{
background-color:  rgb(18, 168, 224);
height:10%;
position:relative;
}
.banner p{
width: 10%;
float:left;
font-size: 23%;
color:white;
margin:0;
display:inline-block;
font-family: 'Lato', sans-serif;
}
#location{
position: absolute;
top:45%;
right: 0%;
margin:0;
width: 14%;
color:white;
width:15%;

text-align:left;
font-size:30%;


}
#location2{
position:absolute;
top: 70%;
right:44%;
text-align:left;
font-size:30%;
width:15%;
right:0%;

}

#number{
margin:0;
position:absolute;
top: 45%;
width: 15%;
right: 8%;
display:inline-block;
font-size:30%;
text-align:right;
transform:translateX(-50%);
}

#Title{
font-size:75%;
width: 30%;
position:absolute;
top: -1%;
color: #ebebe0;
left: 1%;
height: 50%;
font-style: italic;




}
#Subtitle{
font-size:40%;
width: 50%;
position:absolute;
top: 65%;
left: 1%;
height: 50%;
color: rgb(3,80,160);
font-weight:bold;
}
.menubar{
background-color: rgb(18, 168, 224);
margin-top:0%;
margin-left:0%;
margin-right:0%;
padding-left:0%;
height: 10%;
width:100%;
position:relative;
top:0%;
user-select: none;
z-index:12;
}
.menuitems{
height:100%;
width:100%;



}
.menuitems ul{
margin:0;
list-style: none;
padding:0;
height:100%;

}
.menuitems li{
display:inline-block;
float:left;
height:100%;
position:relative;


margin-left:.5%;
margin-right:.5%;
width: 19%;
}
.menuitems li p{
font-size: 50%;
color:red;
font-weight: bold;

margin:0;
text-align:center;
position:relative;
transform:translateY(-50%);
top:50%;

color:white;



}


.menuitems li:hover
{
background-color:rgba(12, 158, 23, .9);

border-radius:1%;

}

.menuitems li ul {

display:none;
position:relative;
top:-50%;
background-color:  rgb(18, 168, 224);
text-decoration: none;
list-style: none;
width:100%;
padding-top:0%;
margin-top:0%;
margin-bottom:0%;
height: 100%;

}
.menuitems li:hover ul{

display:block;
margin-bottom:0%;
position:relative;
top:50%;
text-align:center;
margin-top:0%;
padding:0%;
padding-top:0%;
padding-bottom:0%;
font-size:1em;
border:0;
font-weight:bold;

}
#dropdownitems{
width:90%;
margin-left:5%;
}
#dropdownitems  li{
margin-left:0;
width:100%;
margin-top: 0%;
border-bottom: 1px solid rgba(256, 256, 256, .5);
padding-top:0%;
padding-right:0%;

background-color:  rgb(18, 168, 224); 


height:100%;

}
#dropdownitems li:hover{

background-color:rgba(12, 158, 23, .9);;

}

#dropdownitems li p{
color:white;
font-weight:bold;
font-size: 50%;

}

/* end of template */


.words p {

margin-top:0;
text-align:left;
text-indent: 5%;
padding-left: 2.5%;
padding-right:2.5%;
text-overflow: ellipsis;
overflow:hidden
}
.header{
background-color:  rgb(18, 168, 224);
height:15%;
margin-top:0;
width:100%;
padding:0

}

.header p{
margin:0;
padding:0;
transform:translateY(-50%);
position:relative;
top:50%;
left:0%;
text-align:center;
margin:0;
color:white;
font-size: 2em;
font-weight:bold;
}
.header3{

background-color:  rgb(18, 168, 224);
height:15%;
margin-top:0;
width:100%;
margin-bottom:2.5%;



}
.header3 p{

margin:0;
padding:0;
transform:translateY(-50%);
position:relative;
top:50%;
left:0%;
text-align:center;
margin:0;
color:white;
font-size: 2em;
font-weight:bold;



}


.video{
left:66%;
width: 20%;
height: 100%;
position:absolute;
top:0%;
font-size:27%;

}


.words2{

position:absolute;
top:0%;
left:40%;
width: 20%;
height: 100%;
font-size: 27%;
line-height: 200%;
word-wrap: break-text;
margin-top:0;


}

.words{
position:absolute;
top:0%;
left:14%;
width: 20%;
height: 100%;
font-size: 27%;
line-height: 200%;
word-wrap: break-text;
margin-top:0;
text-overflow: ellipsis;
overflow:hidden


}
.BottomBoxes{
height:50%;
width:100%;
position:absolute;
top:60%;
left:0%;

}
@media screen and (max-width: 996px){
	.banner{
font-size: 75%;
	}

}
@media screen and (max-width: 751px){
	.banner{
font-size: 65%;
	}

}
@media screen and (max-width: 648px){
	.banner{
font-size: 50%;
	}

}

	
	
	
	
} /* end of banner media query */
@media screen and (max-width: 889px){
	.header {
	font-size: .8em !important;
	
	}
	.header2{
	font-size: .8em !important;
	}
	.header3 {
	
	font-size: .8em !important;
	}
	#words2content{
	font-size: .8em !important;
	}
	#words1content{
	font-size: .8em !important;
	}
	.menuitems{
	font-size: 80%;
	}


}
@media screen and (max-width: 600px),{
	.header {
	font-size: .5em !important;
	
	}
	.header2{
	font-size: .5em !important;
	}
	.header3 {

	font-size: .5em !important;
	}
	#words2content{
	font-size: .5em !important;
	}
	#words1content{
	font-size: .5em !important;
	}
	.menuitems{
	font-size: 65%;
	}
}


.header2{


background-color:  rgb(18, 168, 224);
height:15%;
margin-top:0;
width:100%;
margin-bottom:2.5%;
}

.header2 p{

margin:0;
padding:0;
transform:translateY(-50%);
position:relative;
top:50%;
left:0%;
text-align:center;
margin:0;
color:white;
font-size: 2em;
font-weight:bold;


}
/*Carousel/*/
@media screen and (max-width: 900px)
{
	.Carousel
	{
	width:65% !important;
	height: 30% !important;
	}

	.Images
	{
	width: 100%;
	height:100%;

	}

}
.bubbles
{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 5px;
}
.bubble
{
	z-index:1;
	margin: 2.5px;
    background-color: black;
	border-radius: 100000px;
    width: 10px;
    height: 10px;
    display: inline-block;
	opacity: .50;
    transition: opacity 0.1s linear;
    cursor: pointer;
}
.bubble:hover
{
	opacity: 0.65;
}
.bubble.active
{
	opacity: 1;
}

@media screen and  (max-height: 813px){
	
.Carousel{
width:65% !important;
height: 30% !important;
}
.Images img{
width: 100% !important;


}
.Images {
width: 100%;
height:100%;
}
	
	
	
	
}

.Carousel
{	

	width: 880px;
	height: 290px;
	position: relative;
	left: 50%;
	user-select: none;
	top:2.5%;
	overflow: hidden;
	transform:translateX(-50%);
	

}
.Left:after /* Left button imageslider */
{
	content: "<";
	position: absolute;
	top: 50%;
	left: 0%;
	background-color:white;
	width: = 1em;
	height: = 2em;
	font-weight: bold;
	font-family: sans-serif;
	transform: translateY(-50%);
	cursor: pointer;
	opacity: 0.25;
	transition: 0.1s linear;
}
.Left:hover:after, .Right:hover:after  /* Left and right button imageslider hover*/
{
	opacity: 1;
}
.Right:after  /* Right button imageslider */
{
	content: ">";
	position: absolute;
	top: 50%;
	right: 0%;
	background-color:white;
	width: = 1em;
	height: = 2em;
	font-weight: bold;
	font-family: sans-serif;
	transform: translateY(-50%);
	opacity: 0.25;
	transition: 0.1s linear;
	cursor: pointer;

}
.Images
{
	
	position: absolute;
	display: flex;

}

.footer{
position:relative;
top:90%;
width:100%;
height:20%;
background-color:black;



}
.morebutton{

background-color: rgb(18, 168, 224);
color:white;
font-family: Arial,Roboto;
font-weight: bold;
padding-left:5%;
padding-right: 5%;
padding-top:2.5%;
padding-bottom:2.5%;
}



